body {
  margin: 0;
}

#screen {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  color:#ccc;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}
